@font-face {
  font: {
    family: 'JetBrainsMono';
    style: normal;
    weight: 400;
  }
  src: url('./JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('./JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font: {
    family: 'JetBrainsMono';
    style: normal;
    weight: 700;
  }
  src: url('./JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('./JetBrainsMono/ttf/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
  font: {
    family: 'Exo 2';
    style: normal;
    weight: 400;
  }
  src: url('./Exo2/Exo2-Regular.woff2') format('woff2'),
    url('./Exo2/Exo2-Regular.woff') format('woff'),
    url('./Exo2/Exo2-Regular.ttf') format('truetype');
}

@font-face {
  font: {
    family: 'Exo 2';
    style: normal;
    weight: 700;
  }
  src: url('./Exo2/Exo2-Bold.woff2') format('woff2'),
    url('./Exo2/Exo2-Bold.woff') format('woff'),
    url('./Exo2/Exo2-Bold.ttf') format('truetype');
}
