.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -1px 0 #2F2F37;
  padding: 32px 20px;
}

.banner__title {
  margin-bottom: 8px;
  font-family: 'Exo 2';
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  letter-spacing: normal;
  color: #F2F2F3;
}

.title:last-child {
  margin-bottom: 0;
}

.banner__subtitle {
  font-family: 'Exo 2';
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  color: #F2F2F3;
}
